body{
    background-color: whitesmoke;
}
/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: rgb(36, 36, 44);
    /* position: absolute; */
    display: flex;
    flex-flow: row;
    height: 80px;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    /* float: left; */
    
    
    /* padding: 12px; */
    color: white;
    text-decoration: none;

    
  }
  a{
    float: center;
    position: absolute;
    text-align: center;
    font-size: 27px;
    margin: 25px 300px 40px 700px;
  }

  i{
      margin: 15px 10px 15px 25px;
  }
  
  /* .container{
      display:inline;
  }
  .container > .flex{
    height: 100%;
    background-color: rgb(36, 36, 44);
    position: absolute;
    display: flex;
    overflow: auto;
     border: 1px solid black;
  } */
  * {
    box-sizing: border-box;
  }
  .container{
      width: 100%;
      display: inline-flex;
  }
  
  .flex-container{
    display:flex;
    width: 35%;
    
  }

  .flex-item-left{
    background-color: black;
    padding: 10px;
    flex: 35%;
    height: 550px; 
    border-radius: 20px;
    width: 300%;
    margin: 50px 50px;
  }

  .flex-container1{
       display: block;
       width: 65%;
       height: 700px;
       background-color: whitesmoke;
       flex-flow: row;
  }

  .flex-item-first{

    background-color: black;
    color: grey;
    font-size: 30px;
    padding: 13px;
    padding-left: 30px;
    height: 60px;
    width: 80%; 
    border-radius: 20px;
    margin: 50px 50px;
    margin-left: 120px;
  }
  .inline{
        display:inline-flex;
        flex-flow: row;
  }

  .flex-item-second{
    background-color: black;
    padding: 10px;
    /* flex: 40%; */
    height: 160px;
    width: 240px; 
    border-radius: 20px;
    margin: 30px;
    margin-left: 60px;
  }

  .flex-item-last{
    background-color: black;
    /* padding: 13px;
    padding-left: 30px; */
    height: 22%;
    width: 92%; 
    border-radius: 20px;
    margin: 50px 50px;
    margin-left: 60px;
  }
